header {
  position: absolute;
  width: 100%;
  height: 64px;
  left: 0px;
  top: 0px;
  
  background: #4A90E2;
}
header h1 {
  position: absolute;
  width: 121px;
  height: 24px;
  left: 42px;
  color: #FFF;
}