body {
  background-color: #F2F2F2;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

#post{
  margin: 30px;
  margin-right: 300px;
  margin-left: 300px;
  border: solid 1px black;
  list-style-type: none;
  background-color: #FFF;
  color: black;
  font-size: 17px;
}

#comment{
  margin: 15px;
  padding-right: 5px;
  padding-left: 5px;
  border: solid 1px black;
  border-radius: 15px;
  list-style-type: none;
  background-color: #F2F2F2;
  font-size: 15px;
}

#postlist{
  border: solid 1px black;
  margin: 0px;
  padding: 0px;
}

#header{
  display: flex;
  width: 100%;
  height: 50px;
  padding-bottom: 15px;
  border: solid 1px black;
  background-color: #4A90E2;
}

#postlist ul{
  margin: 0px;
  padding: 0px;
}

#header h1{
  font-size: 25px;
  margin: 15px;
  border: solid 1px black;
  padding-bottom: 25px;
}

#header a{
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 1100px;
  border: solid 1px black;
  color: white;
  text-decoration: none;
}

#post #posting{
  border: solid 1px black;
  margin: 10px;
}

#post #posting #postingName{
  font-weight: bold;
  border: solid 1px black;
  margin: 10px;
}

#post #posting #postingContent{
  border: solid 1px black;
  margin: 10px;
}